# --- Environnement Virtuel ---

venv/
.venv/
env/
venv.bak/

# --- Cache Python ---

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Fichiers Streamlit & IDE ---
.streamlit/
.vscode/
.idea/

# --- Fichiers Système ---
.DS_Store
Thumbs.db
desktop.ini

