# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- IDE (VS Code, PyCharm) ---
.vscode/

# --- Données (On ne push pas les rapports générés) ---
output/
*.xlsx
*.csv

# --- Système ---
.DS_Store
Thumbs.db